body {
    background-image: url(../images/white-waves.png);
}

nav {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #cccccc;
    background-color: #ffffff;
} 

.navbar {
    padding: 0px;
}

#navItems {
    padding: 0px;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    /* margin-top: -12px;
    margin-bottom: -12px;
    padding-top: 10px;
    padding-bottom: 10px; */
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #cccccc;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    margin: 0px;
}

img {
    margin-right: 20px;
}

.content {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 20px;
    margin-bottom: 70px;
}

/* .link-border {
    border-right-style: solid;
    border-right-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding-right: 15px;
    padding-left: 15px;
} */

.btn {
    background-color: #4aaaa5; 
    color: #ffffff;
    height: 40px;
    width: 115px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    border-style: none;
    border-radius: 0rem;
}

.portImg {
    height: 150px;
    width: 200px;
    margin-right: 70px;
    margin-bottom: 40px;
    /* margin-left: 15px; */
    position: relative;
}

#imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    background-color: #4aaaa5;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffffff;
}

.footbar {
    width: 100%;
    height: 40px;
    background-color: #666666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px; 
    margin-top: 40px;
    position: fixed;
    bottom: 0px;
}

.copyright {
    text-align: center;
    position: relative;
    bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.copy {
    color: #ffffff;
    font-size: 12px;
    margin: 20px;
}

@media (max-width: 640px) { 
    h2 {
        width: 100%;
        text-align: center;
    }

    .nav {
        margin: auto;
    }

    /* *, ::after, ::before {
        box-sizing: content-box;
    } */
}
